@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


body{
    margin:0;
    padding:0;
    /*background-color: lightblue;*/
    background-color: #162B32;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    color:white;
}
  
#boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    

}
  
.key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    margin: 10px 30px;
}

.keyType {
    display: flex;
    justify-content: center;
    background-color: #FF4838;
    margin:0;
    padding:10px 0;
    width:300px;
}

#heading{
    margin:0;
    font-size: 100px;
    text-transform: uppercase;
}