@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body{
    margin:0;
    padding:0;
    /*background-color: lightblue;*/
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    color:white;
}
  
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
  
.key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 10px 30px;
}

.keyType {
    display: flex;
    justify-content: center;
    background-color: rgb(94, 94, 94);
    margin:0;
    padding:10px 0;
    width:300px;
}

#heading{
    margin:0;
    font-size: 100px;
    text-transform: uppercase;
}